body{
    font-family: Arial;
     margin: 0;
     background-color: black;
}
#wrapper{
    position: relative;
    margin-top: 10px;
    //width: 1200px;
    //margin: auto;

}
#battle-grid{
    //border: 1px dashed black;
}
#container{
    width: 600px;
    text-align: center;
    cursor: arrow;
    position: relative;
    margin-left: 400px;
    margin-right: 200px;
}
#battle-container{
    -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-color:  white;
}


.player {
    background-color: black;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    position: absolute;
    top: 0;
    z-index: 2;
    border: 1px solid black;
}


.monster {
    font-size: 0.8em;
    background-color: black;
    height: 0px;
    width: 0px;
    overflow: visible;
    border-radius: 12px;
    position: absolute;
    top: 0;
    z-index: 2;
    border: 1px solid black;
    color: white;
    cursor: pointer;
        -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

.button-on-grid{
    border: 1px solid black;
    cursor: pointer;
    position: absolute;
    z-index: 3;
}
#pencil{
    right: 15px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    
}
#eraser{
    right: 15px;
    bottom: 10px;
    width: 31px;
    height: 29px;

}
.button{
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
    background-color: white;
    float:left;
}
#ads{
    border: 1px solid black;
    width: 100%;
    height: 40px;
    margin-top: 50px;
    background-color: white;
}  
#chat{
    background-color: white;
    border: 1px solid black;
    width: 100%;
    height: 250px;
    margin-top: 10px;
    position: relative;
}
#chat-messages{
    text-align: left;
   overflow: auto;
    height:  200px;
}
#dices{
    position: absolute;
    left: 0;
    bottom: 30px;
    height: 50px;
    width: 100%;
}

.dice{
   cursor: pointer; 
   float: left;
}
#chat-message{
    position: relative;
    
}
#chat-input{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
#chat-send{
    position: absolute;
    border: 1px solid black;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

#scroll{
    background-color:coral;
    position: absolute;
    left: -400px;
    top: 0;
    width: 390px;
    height: 500px;
}

#scroll-content{
    text-align: left;
    height: 300px;
    overflow-y: auto;
}

.image-in-scroll {
    max-width: 200px;
    max-height: 150px;
    display: block;
    margin: auto;
    background-color: rgba(34,34,34,0.6);
    
    -moz-box-shadow:0px 0px 7px #000000;
-webkit-box-shadow:0px 0px 7px #000000;
box-shadow:0px 0px 7px #000000;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; 
    
}

#scroll-form {
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 5%;
}

#scroll-form textarea {
    width:100%;
    height: 120px;
    resize: none;
}

#insert-image-in-scroll {
    width: 76%;
    float: left;
    background-color: orange;
    cursor: pointer;
}
#insert-image-in-scroll2,#send-image-for-scroll {
    width: 38%;
    float: left;
    background-color: orange;
    display: none;
    cursor: pointer;
}
#send-image-for-scroll {
    box-sizing: border-box;
    border-left: 1px solid black;
}
#hidden-image-for-scroll {
    display: none;
}
#send-scroll-message {
    width: 24%;
    box-sizing: border-box;
    border-left: 1px solid black;
    float: left;
    background-color: orange;
    cursor: pointer;
}

#right-column{
    position: absolute;
    right: -400px;
    top: 10;
    width: 200px;
    height: 500px;     
}
#users-list{

 overflow: auto;
 height: 500px;
}

.unit-in-list{
    text-align: left;
    background-color: white;
    border: 1px solid white;
    margin-bottom: 10px;
    width: 170px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    
}
.unit-in-list-head {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 25px;
    padding-left: 5px;
}

.avatar-thumbnail{
    width: 100px;
    height: 100px;
}

.up-arrow{
 position: absolute;
 left: 110px;
 top: 60px;
 cursor: pointer;
}

.up-2arrow{
 position: absolute;
 left: 130px;
 top: 60px;
 cursor: pointer;
}
.down-arrow{
 position: absolute;
 left: 110px;
 top: 80px;
 cursor: pointer;
}
.down-2arrow{
 position: absolute;
 left: 130px;
 top: 80px;
 cursor: pointer;
}

.disable-player {
    color: red;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.enable-player {
    color: green;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.status-online, .status-offline {
    position: absolute;
    top: 30px;
    left: 110px;
    color: red;
}
.status-online {
    color: green;
}

.delete-monster{
    position: absolute;
    color: red;
    top: 5px;
    right: 5px;
    cursor: pointer;
}


#add-monster{
    background-color: white;
    border: 1px solid black;
    position: absolute;
    bottom: -60px;
    left:  5px;
    padding: 15px;
    cursor: pointer;
}

#settings{
    background-color: white;
    border: 1px solid black;
    position: absolute;
    bottom: -60px;
    left:  80px;
    padding: 15px;
    cursor: pointer;
}
#loader{
    display: none;
    float: left;
}
#popup-container{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 10;
}
#popup{
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    min-height: 200px;
    margin: auto;
    padding: 10px;
    max-height: 400px;
    overflow: auto;
    
}
.monster-in-stack{
    float: left;
    width: 200px;
    margin-right: 20px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid red;
    position: relative;
}
.add-monster-from-stack{
    width: 50%;
    background-color: graytext;
    position: absolute;
    bottom: 0;
    color: white;
    right: 0;
    text-align: center;
    cursor: pointer;
}