
input{
    border:none;
    width: 100%;
    margin: 0;
    padding: 0;
}
#character{
    background-color: white;
    color: black;
    padding: 5px;
    position: relative;
}
.c{
    clear: both;
}

#avatar-container{
      position: absolute;
      right: 0;
}
#character-avatar{
  width: 100px;
  height: 100px;
  border: 1px solid black;
   
}

#avatar{
    width: 150px;
    height: 150px;
    border: 1px solid white;
}

.unit-avatar {
        width: 150px;
    height: 150px;
    border: 1px solid black;
}
#choose-avatar-image {
    cursor:pointer;
}
#upload-avatar-image {
    cursor:pointer;
    display: none;
}
#hidden-avatar-uploader {
    display: none;
}

#post-unit {
    position: absolute;
    right: 0;
    top: 200px;
    border: 1px solid green;
    padding: 30px;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    cursor: pointer;
}

.string{
    margin-bottom: 5px;
}

.rel{
    position: relative;
    box-sizing: border-box;
}
.above{
    position: absolute;
    top: -13px;
    left: 0;
    font-size: 0.7em;
}
.below{
   position: absolute;
    bottom:-13px;
    left: 0;
    font-size: 0.7em;  
}
.tall{
    height: 35px;
}
.tall2{
    height: 53px;
}
.small {
    height: 18px;
}
.narrow{
    width: 50px;
    text-align: center;
}

.medium{
    width: 100px;
}
.wide{
    width: 125px;
}
.half-medium{
    width: 75px;
    text-align: center;
}
.black{
    background-color: black;
    color: white;
   
}

#basic input{
  width: 100px;
  height: 35px;
}
#props{
    margin-top: 10px;
    
}
.block{
    float: left;
    border: 1px solid black;
    margin-right: 5px;
    box-sizing: border-box;
   
}
