
input{
    border:none;
    width: 100%;
    margin: 0;
    padding: 0;
}
#character{
    background-color: white;
    color: black;
    padding: 5px;
}
.c{
    clear: both;
}
#avatar{
    width: 150px;
    height: 150px;
    border: 1px solid white;
}
.string{
    margin-bottom: 5px;
}
.rel{
    position: relative;
    box-sizing: border-box;
}
.above{
    position: absolute;
    top: -13px;
    left: 0;
    font-size: 0.7em;
}
.tall{
    height: 35px;
}
.small {
    height: 18px;
}
.narrow{
    width: 50px;
    text-align: center;
}

.medium{
    width: 100px;
}
.half-medium{
    width: 75px;
    text-align: center;
}
.black{
    background-color: black;
    color: white;
   
}
#basic input{
  width: 100px;
  height: 35px;
}
#props{
    margin-top: 10px;
    
}
.block{
    float: left;
    border: 1px solid black;
    //display: inline-block;
    margin-right: 5px;
    box-sizing: border-box;
   
}
